/*  */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: 'Jura', sans-serif;
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbreak {
    flex-basis: 100%;
    height: 0;
}

.noscroll {
    overflow: hidden;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}

/* scroll */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*  */

body {
    background: url("./nyc_bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    min-height: 100vh;
    padding: 100px 0 0;
}

.container {
    position: relative;
    background: #000000af;
    width: 40%;
    max-width: 450px;
    height: fit-content;
    margin: 0px auto;


    backdrop-filter: blur(15px);
    border: 3px solid #FFBF00;
    border-width: 3px 0 3px 0;
    border-radius: 5px;
}

.model_container {
    /* display: none; */
    position: absolute;
    top: 0px;
    background: #ffffff;
    width: 100%;
}

.ticket_wrap {
    background: #ffffff;
    /* width: 100%; */
    height: 500px;
    margin: 0 50px;
}

.ticket_con {
    background: #ffffff;
    padding: 20px;
    width: 600px;
    height: calc(100% - 20px);

    border-radius: 3px;
    overflow: hidden;
}

.ticket_conLeft {
    background: url('./ticket_car.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    /* width: 70%; */
    height: 35%;

    color: #f1f1f1;
}

.ticket_content {
    background: #000000af;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.ticket_content>.psg_info {
    margin-bottom: 0 !important;
}

.arrow_icn {
    width: 50px;
    height: 50px;
}

.ticket_conRight {
    background: #FFBF00;
    /* width: 30%; */
    height: 65%;
    /* border-left: 1px dashed #000000; */
    padding: 30px;

}

.ticket_info {
    flex-wrap: wrap;
    justify-content: space-between;
}


.psg_info {
    margin-bottom: 20px;
    width: 45%;
}

.psg_info>.title {
    font-size: 12px;
    text-transform: capitalize;
}

.psg_info>.subtitle {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.info_time {
    width: 100%;
}

.info_time>.subtitle {
    width: 100% !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.info_pfare>.subtitle {
    font-size: 30px;
}



h1 {
    background: #FFBF00;
    padding: 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.8em;
    text-align: center;
    color: #000000;
}

.taxi_det_form {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.input_con {
    margin-bottom: 20px;
    width: 45%;
}

.label_text {
    margin-bottom: 10px;
    color: #FFBF00;
}

/* inputs */


.psgName_inp>input,
.psgCount_inp>input {
    width: 100%;
    background-color: #f9f9f9;
    padding: 7.5px 12px;
    border-radius: 2.5px;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden;

    /* border: 1px solid #ff0000;
    outline: 3px solid #ff00007a; */
}




/* select menu */
.selectpicker {
    color: #000000;
}

.selectpicker option {
    color: #000000 !important;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0px !important;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 1rem;
}

.choices__list--single {
    padding: 0;
}

.card {
    transform: translateY(-50%);
}

.choices[data-type*=select-one]:after {
    right: 1.5rem;
}

.shadow {
    box-shadow: 0.3rem 0.3rem 1rem rgba(178, 200, 244, 0.23);
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}




.predict_btn {
    background: #FFBF00;
    width: 100%;
    margin: 20px 0 10px;
    padding: 7.5px 12px;
    min-height: 44px;
    border-radius: 2.5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}