/* navbar */
.navbar_con {
    position: fixed;
    top: 0;
    left: 0;
    /* background: #15111608; */
    width: 100%;
    /* height: 114px; */
    padding: 35px 50px;
    justify-content: flex-start;
    /* backdrop-filter: blur(5px); */
}

.siteLogo {
    width: 15%;
    margin-right: 120px;
    justify-content: flex-start;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    word-spacing: -3px;
}

.siteLogo>a {
    position: relative;
}

.siteLogo_subscript {
    position: absolute;
    bottom: -12px;
    left: 0;
    font-size: 10px;
    /* font-weight: 600; */
    letter-spacing: 14px;
}

.navbar_menu_con>i {
    font-size: 5px;
    color: #4a4a4a;
}

.navbar_menu_con {
    justify-content: space-between;
    width: 300px;
    font-family: 'Rajdhani', sans-serif;
}

/*  */


/* index pade */
.main_header_con {
    background: var(--bgPurple);
    width: 100%;
    height: 500px;
}

.main_header_sub {
    width: 50%;
    height: 100%;
}

.main_header_subLeft {
    width: 60%;
    padding: 50px;
    padding-top: 200px;
}

.main_header_subLeft_title {
    font-family: 'Share Tech Mono', monospace;
    font-size: 70px;
    /* line-height: 25px; */
}

.main_header_subRight {
    background: #000;
}

/*  */









/* data science page */
.header_wrap {
    background: url('../assests/dataScience.gif') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background: #fff; */
    width: 100%;
    height: 400px;
}

.header_con {
    position: relative;
    flex-direction: column;
    background: #adbdef1a;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(150px);
}





h1 {
    width: 100%;
    font-family: 'exan', Fallback, sans-serif;
    font-size: 100px;
    text-align: center;

    /* text-shadow: 0px 0px 1px #000000; */


    background: url('../assests/dataScience.gif');
    background-size: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: imagebulger 25s infinite;
}

@keyframes imagebulger {

    0% {
        background-size: 60% auto;
        -webkit-background-size: 60%;
    }

    100% {
        background-size: 100% auto;
        -webkit-background-size: 100%;
    }
}

/* intro */
.intro_con {
    padding: 50px;
    color: var(--ftPurple);
}

.intro_mini_header {
    margin-bottom: 30px;
    font-family: 'Share Tech Mono', monospace;
    color: var(--lightPurple);
    font-weight: 100;
    font-size: 13px;
    letter-spacing: -0.3px;
}

.intro_header {
    margin-bottom: 30px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 35px;
}

.intro_content {
    font-family: 'Share Tech Mono', monospace;
    color: var(--ftLightPurple);
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
}