/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


@font-face {
    font-family: 'exan';
    src: url('../font/Exan-Regular.ttf') format('truetype')
}



* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbreak {
    flex-basis: 100%;
    height: 0;
}

.noscroll {
    overflow: hidden;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

:root {
    --themeC: #231d25;
    --bgPurple: #231d25;
    --fullDark: #151116;
    --lightPurple: #4b444d;
    --wt: #ffffff;

    --ftPurple: #adbdef;
    --ftLightPurple: #797ea7;
    --ftPink: #ffadf5;
}

/* selection */
::selection {
    color: var(--fullDark);
    background: var(--ftPurple);
}


/* custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--ftLightPurple);
    transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--ftPurple);
}

/*  */



html {
    scroll-behavior: smooth;
}

body {
    background: var(--fullDark);
    color: var(--wt);
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}